<h1>プロフィール編集</h1>

<%= form_with model: @user, local: true do |f| %>

  <div>
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :profile, "自己紹介" %>
    <%= f.text_area :profile %>
  </div>

  <div>
    <%= f.submit "更新" %>
  </div>

<% end %>