<h1>コミュニティ一覧</h1>

<%= form_with url: communities_path, method: :get, local: true do |f| %>
	<%= f.text_field :keyword, placeholder: "コミュニティを検索" %>
	<%= f.submit "検索" %>
<% end %>

<%= link_to '新規作成', new_community_path %>

<% @communities.each do |community| %>
	<div>
		<h3><%= link_to community.name, community_path(community) %></h3>
		<p><%= community.description %></p>
	</div>
<% end %>