<h1>コミュニティ一覧</h1>

<%= form_with url: communities_path, method: :get, local: true do |f| %>
	<%= f.text_field :keyword, placeholder: "コミュニティを検索" %>

	<%= f.select :category,
		Community.categories.keys.map { |k| [k.humanize, k] },
		{ include_blank: "すべて" },
		{ selected: params[:category] } %>
		
	<%= f.submit "検索" %>
<% end %>

<%= link_to '新規作成', new_community_path %>

<div class="row">
	<% @communities.each do |community| %>
		<div class="col-md-4 mb-3">
			<div class="card h-100">	
				<div class="card-body">
	
					<h5 class="card-title">
						<%= community.name %>
					</h5>
			
					<h6 class="card-subtitle mb-2 text-muted">
						<%= community.category %>
					</h6>
			
					<p class="card-text">
						<%= community.description %>
					</p>

					<p>
						<%= community.memberships.count %>人参加
					</p>
			
					<%= link_to "コミュニティを見る",
						community_path(community),
						class: "btn btn-primary" %>
			
				</div>	
			</div>
		</div>	
	<% end %>  
</div>