<h1><%= @community.name %></h1>

<p><%= @community.description %></p>

<h2>投稿</h2>

<%= form_with model: [@community, @post], local: true do |f| %>
			<%= f.text_area :content, rows: 4, placeholder: "投稿内容を入力．．．" %>
			<%= f.submit '投稿' %>		
<% end %>

<h2>投稿一覧</h2>

<% @community.posts.each do |post| %>
	<div class="post">
		<strong><%= post.user.email %></strong>
		<br>
		<%= post.content %>
	<br>
	<small>
		<%= post.created_at.strftime('%Y-%m-%d %H:%M') %>
	</small>
	
	<% if post.user == current_user %> 
	  <br>

		<%= link_to '編集', edit_community_post_path(@community, post) %>

		<%= link_to '削除',
		community_post_path(@community, post), 
		data: {turbo_method: :delete,turbo_confirm: '本当に削除しますか？' } %>
	<% end %>
	</div>
<% end %>

<br>
<%= link_to '一覧に戻る', communities_path %>