<h1><%= @community.name %></h1>

<p>カテゴリ: <%= @community.category if @community.category.present? %></p>

<p><%= @community.description %></p>

<% if @community.user == current_user %>
	<%= link_to "編集", 
		edit_community_path(@community) %>

	<%= button_to "削除",
		community_path(@community),
		method: :delete,
		form: { data: { turbo_confirm: "本当に削除しますか？" }, class: "d-inline" } %>
<% end %>



<% if user_signed_in? %>
	<% if @community.members.exists?(current_user.id) %>
		<%= button_to 'コミュニティから退出', community_membership_path(@community), method: :delete %>
	<% else %>
		<%= button_to 'コミュニティに参加', community_membership_path(@community), method: :post %>
	<% end %>
<% end %>

<h2>投稿</h2>

<%= form_with model: [@community, @post], local: true do |f| %>
			<%= f.text_area :content, rows: 4, placeholder: "投稿内容を入力．．．" %>
			<br>
			<%= f.file_field :image %>
			<br>
			<%= f.submit '投稿' %>		
<% end %>

<h2>投稿一覧</h2>

<% @community.posts.each do |post| %>
	<div class="post">
		<strong><%= post.user.email %></strong>
		<br>
		<%= post.content %>
	<br>

	<% if post.image.attached? %>
		<%= image_tag post.image.variant(resize_to_limit: [250, 250]) %>
		<br>
	<% end %>

	<small>
		<% if user_signed_in? %>
			<% if post.liked_by?(current_user) %>
				<%= button_to "♥",
					community_post_like_path(@community, post),
					method: :delete,
					class: "like-button liked",
					form: { class: "d-inline" } %>
			<% else %>
				<%= button_to "♡",
					community_post_like_path(@community, post),
					method: :post,
					class: "like-button",
					form: { class: "d-inline" } %>
			<% end %>
		<% end %>
		<span><%= post.likes.count %>いいね</span>
	
		<%= post.created_at.strftime('%Y-%m-%d %H:%M') %>
	</small>
	
	<% if post.user == current_user %> 
	  <br>

		<%= link_to '編集', edit_community_post_path(@community, post) %>

		<%= button_to '削除',
			community_post_path(@community, post),
			method: :delete,
			form: { data: { turbo_confirm: '本当に削除しますか？' }, class: "d-inline" } %>
	<% end %>
	</div>
<% end %>

<%= paginate @posts %>

<br>
<%= link_to '一覧に戻る', communities_path %>