<!DOCTYPE html>
<html>
  <head>
    <title>Snowcom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to 'Top', root_path %>
      <%= link_to 'コミュニティ一覧', communities_path %>
      <%= link_to '新規コミュニティ作成', new_community_path %>

      <% if user_signed_in? %>
        <%= link_to 'マイページ', user_path(current_user) %>
        <%= link_to 'ログアウト', destroy_user_session_path,data: { turbo_method: :delete } %>  
      <% else %>
        <%= link_to 'ログイン', new_user_session_path %>
        <%= link_to '新規登録', new_user_registration_path %>
      <% end %>
    </header>

    <% if notice %> 
      <p style="color: green;"><%= notice %></p>
    <<% end %>

    <% if alert %>
      <p style="color: red;"><%= alert %></p>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>Copyright © 2026 Snowcom</p>
    </footer>
  </body>
</html>
